.plantIcon {
  transition: transform 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
}

.plantIcon:hover {
  transform: rotate(10deg) scale(1.1);
}

.sm {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.md {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.lg {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}